@CHARSET "UTF-8";

h1 {
	font-family: arial;
	color: #2190d9;
	margin-top: 20px;
}

h2 {
	font-family: arial;
	color: #2190d9;
	font-size: 5px;
}

h3 {
	font-family: arial;
	color: #2190d9;
	font-size: 5px;	
}

header {
		margin-top:0px;
		font-family: arial;
}

footer {
		margin-top:20px;
		font-family: arial;
}

body {
	background-color: #000000;
}

#TabelaProdutos {
	margin-top: 20px;
}

/* {
	font-family: arial;
	color: #0074b7;
	
	background-color: black;
}*/